html{
    background-color: black;
}
body{
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
header{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
}
.head {
    width: 40%;
    position: relative;
    margin: 0;
}
nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    text-shadow: 0 0 5px black;
}
section{
    width: 1440px;
    margin: 0 auto;
}
.logo{
    background-image: url("../images/red-logo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: 20px;
}
hr {
    width: 1300px;
    margin: 40px auto;
    border: 1px solid #4848FC;
}
h2 {
    font-size: 100px;
    margin: 0;
}
.page{
    text-shadow: 8px -5px 2px #FF4655;
}
.content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(to right, #000000cb, #000000a7);
    border-top: 3px solid;
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(to left, #350064, #fd75ff);
}

/*------------------------ HERO ------------------------*/
.hero{
    background-color: black;
    width: 1440px;
    box-sizing: border-box;
    color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}
.hero .title {
    width: 50%;
    align-self: flex-start;
    margin-top: 100px;
}
.hero h1{
    margin-top: 0;
    font-size: 120px;
    font-weight: 800;
    text-shadow: 5px 5px 10px black;
}
.hero p{
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.hero div{
    font-size: 20px;
}
.button{
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: none;
    color: white;
    padding: 20px 80px;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
    transition: all 0.8s;
}

/*------------------------ MENU ------------------------*/
.menu {
    align-self: flex-start;
    width: 50%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
.menu div {
    width: 300px;
    background-color: #101010;
    height: 650px;
    text-align: center;
}
.menu img {
    width: 300px;
    margin-top: 50px;
}

.chamber {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(to top, #350064, #fd75ff);
}
.img {
    width: 300px;
}

/*------------------------ VIDEO ------------------------*/
.box {
    width: 310px;
    padding: 5px;
}
.box:nth-child(1) {
    background: linear-gradient(to top, #3F24E9, #101010);
}
.box:nth-child(2) {
    background: linear-gradient(to top, #FBC652, #101010);
}
.box:nth-child(3) {
    background: linear-gradient(to top, #3D1BC1, #101010);
}
.box:nth-child(4) {
    background: linear-gradient(to top, #4848FC, #101010);
}
.box:nth-child(5) {
    background: linear-gradient(to top, #F174DF, #101010);
}
.box:nth-child(6) {
    background: linear-gradient(to top, #10D5FF, #101010);
}
.box:nth-child(7) {
    background: linear-gradient(to top, #16BF72, #101010);
}
.box:nth-child(8) {
    background: linear-gradient(to top, #0D36F9, #101010);
}
.box:nth-child(9) {
    background: linear-gradient(to top, #FB332F, #101010);
}
.killjoy img, .yoru img, .viper img {
    width: 200px;
}
.reyna img {
    width: 250px;
}


/*------------------------ VIDEO ------------------------*/

iframe{
    width: 100%;
    height: calc(100vh - 60.5px);
}

/*------------------------ CASTS ------------------------*/

.about{
    display: flex;
    justify-content: space-around;
}
.back {
    width: 400px;
}
.about h1{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 0;
}
.about div{
    margin-left: 80px;
    width: 600px;
}
.about img:first-child {
    align-self: flex-start;
}

/*------------------------ BACKGROUNDS ------------------------*/

.synopsis{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    line-height: 20px;
}
.synopsis div{
    height: 600px;
    overflow: scroll;
}
.video {
    /* width: 1440px; */
    margin: 60.5px auto;
}

footer {
    width: 100%;
    background-color: black;
}
.download {
    padding: 20px;
    background-color: #101010;
}
.download a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    width: 400px;
}
.download a:hover {
    background-color: #242424;
}

.foot {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.foot a {
    width: 150px;
    display: block;
    padding: 10px;
}
.foot a:hover {
    cursor: pointer;
    background-color: #242424;
    border-radius: 10px;
}

.copyright {
    text-align: center;
    padding-bottom: 50px;
}